<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Board</title>
    <link rel="stylesheet" href="styles/register.css" />
    <script src="https://kit.fontawesome.com/7af8546ce5.js" crossorigin="anonymous"></script>
</head>

<body>
    <script src="/scripts/login.js" defer></script>
    <header class="header">
        <nav class="nav header-nav">
            <ul class="nav__list nav-menu header-main">
                <li class="nav-menu__item header-main-nav__item">
                    <a href="/board" class="nav-menu__link header-main-nav__link header__link">
                        <i class="fas fa-home"></i>
                        <span class="hidden-text">Home</span>
                    </a>
                </li>
            </ul>

            <div class="zentask nav__logo">
                <span class="zentask__text">ZenTask</span>
            </div>
        </nav>
    </header>

    <main class="columns">
        <form class="login-form" method="POST">
            <div class="column">
                <h1>Sign in</h1>
                <label for="login">Login</label>
                <input type="text" placeholder="Enter login" name="login" id="login" required>
                <label for="psw">Password</label>
                <input type="password" placeholder="Enter password" name="psw" id="psw" required>
                <button type="submit" class="registerbtn button__add-card">Log in</button>
            </div>
            <div class="container signin">
                <p>No account? <a href="/register">Sign up</a>.</p>
            </div>
        </form>
    </main>
</body>

</html>