<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>My Boards</title>
        <link rel="stylesheet" href="styles/my-boards.css" />

        <script src="https://kit.fontawesome.com/7af8546ce5.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <header class="header">
            <nav class="nav header-nav">
                <ul class="nav__list nav-menu header-main">
                    <li class="nav-menu__item header-main-nav__item">
                        <a href="my-boards.html" class="nav-menu__link header-main-nav__link header__link">
                            <i class="fas fa-home"></i>
                            <span class="hidden-text">Home</span>
                        </a>
                    </li>
                    <li class="nav-menu__item header-main-nav__item">
                        <a href="board.html" class="nav-menu__link header-main-nav__link header__link">
                            <i class="fab fa-trello"></i>
                            <span class="hidden-text">Boards</span>
                        </a>
                    </li>

                    <li class="nav-menu__item nav-menu__item-last header-main-nav__item">
                        <a href="login.html" class="nav-menu__link header-main-nav__link header__link">
                            <span>Login</span>
                        </a>
                    </li>

                    <li class="nav-menu__item nav-menu__item-last header-main-nav__item">
                        <a href="register.html" class="nav-menu__link header-main-nav__link header__link">
                            <span>Register</span>
                        </a>
                    </li>
                </ul>

                <div class="zentask nav__logo">
                    <span class="zentask__text">ZenTask</span>
                </div>
            </nav>
        </header>

        <main class="board-types">
            <div class="board-types__section my-boards">
                <h5 class="board-types__title">My boards</h5>
                <div class="boards">
                    <div class="board boards__item clickable-board">
                        <h3 class="board__name">Second</h3>
                        <a href="board.html" class="clickable-board__link"></a>
                    </div>

                    <div class="board boards__item clickable-board">
                        <h3 class="board__name">Second</h3>
                        <a href="board.html" class="clickable-board__link"></a>
                    </div>

                    <div class="board boards__item clickable-board">
                        <h3 class="board__name">Second</h3>
                        <a href="board.html" class="clickable-board__link"></a>
                    </div>

                    <div class="board boards__item clickable-board">
                        <h3 class="board__name">Second</h3>
                        <a href="board.html" class="clickable-board__link"></a>
                    </div>

                    <div class="board boards__item clickable-board">
                        <h3 class="board__name">Second</h3>
                        <a href="board.html" class="clickable-board__link"></a>
                    </div>

                    <div class="empty-board boards__item clickable-board">
                        <h3 class="empty-board__text">Create board</h3>
                        <a href="#" class="clickable-board__link"></a>
                    </div>
                </div>
            </div>

            <div class="board-types__section shared-boards">
                <h5 class="board-types__title">Shared boards</h5>
                <div class="boards">
                    <div class="board boards__item clickable-board">
                        <h3 class="board__name">First</h3>
                        <a href="board.html" class="clickable-board__link"></a>
                    </div>

                    <div class="board boards__item clickable-board">
                        <h3 class="board__name">Second</h3>
                        <a href="board.html" class="clickable-board__link"></a>
                    </div>

                    <div class="empty-board boards__item clickable-board">
                        <h3 class="empty-board__text">Create board</h3>
                        <a href="#" class="clickable-board__link"></a>
                    </div>
                </div>
            </div>

            <div class="board-types__section shared-boards">
                <h5 class="board-types__title">Shared boards</h5>
                <div class="boards">
                    <div class="board boards__item clickable-board">
                        <h3 class="board__name">First</h3>
                        <a href="board.html" class="clickable-board__link"></a>
                    </div>

                    <div class="board boards__item clickable-board">
                        <h3 class="board__name">Second</h3>
                        <a href="board.html" class="clickable-board__link"></a>
                    </div>

                    <div class="board boards__item clickable-board">
                        <h3 class="board__name">Second</h3>
                        <a href="board.html" class="clickable-board__link"></a>
                    </div>

                    <div class="board boards__item clickable-board">
                        <h3 class="board__name">Second</h3>
                        <a href="board.html" class="clickable-board__link"></a>
                    </div>

                    <div class="board boards__item clickable-board">
                        <h3 class="board__name">Second</h3>
                        <a href="board.html" class="clickable-board__link"></a>
                    </div>

                    <div class="board boards__item clickable-board">
                        <h3 class="board__name">Second</h3>
                        <a href="board.html" class="clickable-board__link"></a>
                    </div>

                    <div class="board boards__item clickable-board">
                        <h3 class="board__name">Second</h3>
                        <a href="board.html" class="clickable-board__link"></a>
                    </div>

                    <div class="board boards__item clickable-board">
                        <h3 class="board__name">Second</h3>
                        <a href="board.html" class="clickable-board__link"></a>
                    </div>

                    <div class="board boards__item clickable-board">
                        <h3 class="board__name">Second</h3>
                        <a href="board.html" class="clickable-board__link"></a>
                    </div>

                    <div class="board boards__item clickable-board">
                        <h3 class="board__name">Second</h3>
                        <a href="board.html" class="clickable-board__link"></a>
                    </div>

                    <div class="empty-board boards__item clickable-board">
                        <h3 class="empty-board__text">Create board</h3>
                        <a href="#" class="clickable-board__link"></a>
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>
