<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>My Boards</title>
<link rel="stylesheet" href="../styles/my-boards.css" />

<script src="https://kit.fontawesome.com/7af8546ce5.js" crossorigin="anonymous"></script>
